ConsoleApplication1/Service References/ServiceReference1/IFoo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.artech.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.artech.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.artech.com/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:3721/IFoo?xsd=xsd0" namespace="http://www.artech.com" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoo_Doth_InputMessage">
    <wsdl:part name="parameters" element="tns:Doth" />
  </wsdl:message>
  <wsdl:message name="IFoo_Doth_OutputMessage">
    <wsdl:part name="parameters" element="tns:DothResponse" />
  </wsdl:message>
  <wsdl:message name="IBar_Doth2_InputMessage">
    <wsdl:part name="parameters" element="tns:Doth2" />
  </wsdl:message>
  <wsdl:message name="IBar_Doth2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Doth2Response" />
  </wsdl:message>
  <wsdl:portType name="IFoo">
    <wsdl:operation name="Doth">
      <wsdl:input wsaw:Action="http://www.artech.com/IFoo/Doth" message="tns:IFoo_Doth_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/IFoo/DothResponse" message="tns:IFoo_Doth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IBar">
    <wsdl:operation name="Doth2">
      <wsdl:input wsaw:Action="http://www.artech.com/IBar/Doth2" message="tns:IBar_Doth2_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/IBar/Doth2Response" message="tns:IBar_Doth2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>